body {
  background-color: azure;
}

h1 {
  text-align: center;
  font-size: 48px;
  font-family: Arial, sans-serif;
}

h2 {
  margin: 0 0 20px 0;
  font-size: 25px;
}

select {
  font-size: 20px;
  width: 100%;
  padding: 20px;
  border-radius: 20px;
}
.container {
  max-width: 600px;
  margin: 0 auto;
  background-color: white;
  padding: 80px;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 10px 10px 10px rgba(238, 108, 108, 0.4);
  margin-top: 15px;
}

.city {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: space-between;
  margin: 20px 0;
  border-bottom: 1px dashed grey;
}

.date {
  opacity: 0.8px;
}

.time {
  font-size: 48px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.time small {
  font-size: 15px;
  vertical-align: middle;
  line-height: 35px;
}

footer {
  text-align: center;
  margin-top: 15px;
  font-family: Arial, Helvetica, sans-serif;
}
